Repository Team-5-Antisocials/Project-2, pull requests merged in 2021-11, with the labels that each got.

#1 Fix a bracket in readme
  README.md
Labels: bug

#16 Scope updates from last progress review
  Verslag/scope.tex
Labels: Scope

#17 Methodology updates from meeting 17/11/2021
  Verslag/methodology.tex
Labels: Methodology

#21 Add files for each member
  .vscode/settings.json
  README.md
  Verslag/individual/jayden/jayden.tex
  Verslag/individual/jordy/jordy.tex
  Verslag/individual/michael/michael.tex
  Verslag/individual/rafael/rafael.tex
  Verslag/individual/tim/tim.tex
  Verslag/verslag.tex
Labels: enhancement

#28 27 add subsubsubsection
  .vscode/settings.json
  Verslag/customcommands.tex
  Verslag/verslag.tex
Labels: enhancement

#32 22 rafaels individual part
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  .vscode/settings.json
  Verslag/individual/rafael/allbanks.tex
  Verslag/individual/rafael/behavior.tex
  Verslag/individual/rafael/codeanalysis.tex
  Verslag/individual/rafael/countermeasures.tex
  Verslag/individual/rafael/images/postrequest.png
  Verslag/individual/rafael/images/postrequestresponse.png
  Verslag/individual/rafael/images/postrequesturl.png
  Verslag/individual/rafael/images/requests made.png
  Verslag/individual/rafael/network.tex
  Verslag/individual/rafael/permissions.tex
  Verslag/individual/rafael/processanalysis.tex
  Verslag/individual/rafael/rafael.tex
  Verslag/individual/rafael/ruleset.yar
  Verslag/individual/rafael/virustotal.tex
  Verslag/verslag.tex
  Verslag/yaralanguage.tex
Labels: Individual

#36 24 jordys individual part
  Verslag/individual/jordy/Behavior analysis.tex
  Verslag/individual/jordy/Code Analysis.tex
  Verslag/individual/jordy/Countermeasures and detection.tex
  Verslag/individual/jordy/Description.tex
  Verslag/individual/jordy/Network Analysis.tex
  Verslag/individual/jordy/Permission request.tex
  Verslag/individual/jordy/Process Analysis.tex
  Verslag/individual/jordy/VirusTotal summary.tex
  Verslag/individual/jordy/images/CodeAnalysis.PNG
  Verslag/individual/jordy/images/CodeAnalysis2.PNG
  Verslag/individual/jordy/images/MemoryEnd.PNG
  Verslag/individual/jordy/images/MemoryStart.PNG
  Verslag/individual/jordy/images/MitmwebCapture.png
  Verslag/individual/jordy/images/WiresharkDNS Capture.PNG
  Verslag/individual/jordy/images/WiresharkIPFilter.PNG
  Verslag/individual/jordy/jordy.tex
  Verslag/individual/jordy/ruleset.yara
  Verslag/verslag.tex
Labels: Individual

#38 23 tims individual part
  Verslag/individual/rafael/virustotal.tex
  Verslag/individual/tim/behavior.tex
  Verslag/individual/tim/codeanalysis.tex
  Verslag/individual/tim/countermesures.tex
  Verslag/individual/tim/images/behaviorimg.png
  Verslag/individual/tim/images/codedatabase.PNG
  Verslag/individual/tim/images/mitmreq.png
  Verslag/individual/tim/images/musicplayer.PNG
  Verslag/individual/tim/images/networkdetail.png
  Verslag/individual/tim/images/networkresponse.png
  Verslag/individual/tim/images/processrecording.PNG
  Verslag/individual/tim/network.tex
  Verslag/individual/tim/permissions.tex
  Verslag/individual/tim/processanalysis.tex
  Verslag/individual/tim/ruleset.yara
  Verslag/individual/tim/tim.tex
  Verslag/individual/tim/virustotal.tex
  Verslag/methodology.tex
  Verslag/verslag.tex
Labels: Individual

#39 22 rafaels individual part
  Verslag/individual/rafael/allbanks.tex
  Verslag/individual/rafael/behavior.tex
  Verslag/individual/rafael/codeanalysis.tex
  Verslag/individual/rafael/countermeasures.tex
  Verslag/individual/rafael/network.tex
  Verslag/individual/rafael/permissions.tex
  Verslag/individual/rafael/processanalysis.tex
  Verslag/individual/rafael/virustotal.tex
Labels: Individual

#37 33 conclusie discussion voor pagina
  .gitignore
  .vscode/ltex.dictionary.en-US.txt
  .vscode/ltex.hiddenFalsePositives.en-US.txt
  .vscode/settings.json
  Verslag/Document information overview.tex
  Verslag/bibliography.tex
  Verslag/conclusie.tex
  Verslag/discussion.tex
  Verslag/executivesummary.tex
  Verslag/introduction.tex
  Verslag/verslag.tex
  Verslag/voorpagina.pdf
Labels: Individual

#41 33 conclusie discussion voor pagina
  Verslag/Document information overview.tex
  Verslag/verslag.tex
Labels: enhancement

#42 Fucked up
  Verslag/Document information overview.tex
Labels: enhancement
